@font-face {
  font-family: FjallaOne;
  src: url("fonts/FjallaOne-Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: Lato;
  src: url("fonts/Lato-Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --gray: rgb(39, 43, 44);
  --light-gray: rgb(230, 230, 230);
  --firstFocus: rgb(202, 77, 64);
  --secondFocus: #000000;
  --thirdFocus: #ffffff;
  --white: rgb(231, 231, 231);
}

body {
  margin: 0;
  background: var(--thirdFocus);
}

.container {
  max-width: 1170px;
  width: 100%;
  margin: 0 auto;
}

.col {
  flex: 1 0 0;
}

.background_first-focus {
  background-color: rgb(232, 76, 61);
}

.background_second-focus {
  background-color: var(--secondFocus);
}

.background_third-focus {
  background-color: var(--thirdFocus);
}

.header {
  background-color: var(--gray);
}

.header__items {
  display: flex;
  justify-content: space-between;
  background-color: var(--gray);
  min-height: 80px;
  width: auto;
}

.site-name {
  display: flex;
  align-items: center;
  font-size: 25px;
  font-family: FjallaOne, sans-serif;
  line-height: 1.2;
  color: var(--white);
}

.menu {
  display: flex;
}

.menu__item {
  display: flex;
  align-items: center;
}

.menu__item:hover {
  background-color: var(--firstFocus);
  cursor: pointer;
}

.menu__link {
  text-decoration: none;
  color: white;
  font-family: FjallaOne, sans-serif;
  font-size: 13px;
  padding: 0 22px;
  line-height: 1.2;
}

.hero {
  display: flex;
  min-height: 496px;
  background-image: url("assets/layer.png");
  background-position: center center;
  background-size: cover;
  padding-bottom: 65px;
}

.hero__items {
  margin-top: auto;
}

.hero__icon {
  margin-bottom: 20px;
}

.hero__info {
  font-size: 31px;
  font-family: FjallaOne, sans-serif;
  color: var(--white);
  text-transform: uppercase;
  line-height: 1.6;
  letter-spacing: 3px;
}

.hero__link {
  font-size: 15px;
  font-family: FjallaOne, sans-serif;
  color: var(--firstFocus);
  text-transform: lowercase;
  line-height: 1.2;
  letter-spacing: 1px;
}

.hero__link:visited {
  color: pink;
}

.features {
  background-color: var(--light-gray);
}

.features__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 277px;
}

.card {
  display: flex;
}

.card__image {
  margin-right: 30px;
}

.card__text {
  font-size: 13px;
  font-family: Lato, sans-serif;
  color: rgb(118, 124, 126);
  line-height: 1.7;
}

.card__header {
  margin-bottom: 30px;
}

.text-header {
  font-size: 20px;
  font-family: FjallaOne, sans-serif;
  text-transform: uppercase;
  line-height: 1.2;
}

.text-header_second-focus {
  color: rgb(32, 38, 40);
}

.text-header_white {
  color: white;
}

.link {
  color: var(--firstFocus);
  text-decoration: none;
}

.link:visited {
  color: pink;
}

.news {
  display: flex;
  justify-content: space-between;
  padding-top: 80px;
  padding-bottom: 80px;
}

.news:last-child {
  flex-grow: 1;
}

.news__header {
  margin-bottom: 30px;
}

.news__content {
  flex-grow: 2;
  max-width: 770px;
}

.news__title {
  font-size: 20px;
  font-family: Lato, sans-serif;
  color: var(--firstFocus);
  line-height: 1.2;
  padding: 6px 0;
  margin-bottom: 30px;
  border-top: 1px solid var(--light-gray);
  border-bottom: 1px solid var(--light-gray);
}

.news__list {
  display: flex;
  justify-content: space-between;
}

.article__text {
  font-size: 14px;
  font-family: Lato, sans-serif;
  color: rgb(118, 124, 126);
  line-height: 1.714;
  max-width: 370px;
}

.article__header {
  color: black;
  font-weight: bold;
  margin-bottom: 6px;
}

.article__button {
  margin-top: 30px;
}

.news__image-container {
  max-width: 355px;
  max-height: 355px;
}

.news__image {
  max-width: 355px;
  width: 100%;
  height: auto;
}

.button {
  display: flex;
  align-items: center;
  border-radius: 25px;
  border: none;
  padding: 10px 16px;
}

.button:hover {
  cursor: pointer;
}

.button__text {
  font-family: FjallaOne, sans-serif;
  margin-right: 5px;
}

.button_first-focus {
  background-color: rgb(232, 76, 61);
  color: var(--thirdFocus);
}

.button_second-focus {
  background-color: var(--secondFocus);
  color: var(--thirdFocus);
}

.subscription {
  padding-bottom: 70px;
}

.label {
  border-radius: 10px;
  padding: 43px 30px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.label__example_img {
  width: 70px;
  height: 70px;
}

.content_head {
  font-size: 21px;
  font-family: FjallaOne, sans-serif;
  color: rgb(255, 255, 255);
  text-transform: uppercase;
  line-height: 1.2;
}

.label__text {
  font-size: 16px;
  font-family: Lato, sans-serif;
  color: white;
  line-height: 1.5;
}

.label__header {
  margin-bottom: 30px;
}

.subscribe-form {
  flex-direction: column;
  height: 100px;
  justify-content: space-between;
}

.subscribe-form__input {
  display: flex;
  justify-content: space-between;
}

.subscribe-form__button {
  margin-left: 6px;
}

.label__text_cursive {
  font-size: 14px;
  font-family: Lato, sans-serif;
  color: white;
  font-style: italic;
  line-height: 1.714;
  text-align: center;
}

.subscribe_button:hover {
  cursor: pointer;
}

.contact {
  display: flex;
  background: white;
  justify-content: space-between;
  padding-bottom: 60px;
}

.contact_header {
  margin-bottom: 30px;
}

.contact__list {
  padding-right: 30px;
}

.contact__list:last-child {
  padding-right: 0;
}

.contact__info {
  display: flex;
  flex-grow: 1;
  padding: 30px 0;
  border-top: 1px solid var(--light-gray);
}

.contact__info:last-of-type {
  border-bottom: 1px solid var(--light-gray);
}

.contact-link {
  text-decoration: none;
  color: rgb(118, 124, 126);
}

.contact-link:hover {
  color: blue;
}

.question__header {
  font-size: 21px;
  font-family: FjallaOne, sans-serif;
  text-transform: uppercase;
  font-weight: bold;
  line-height: 1.2;
  background-color: white;
  padding-bottom: 30px;
}

.form {
  border-radius: 5px;
  background-color: rgb(230, 230, 230);
  padding: 30px;
}

.form__text {
  font-size: 13px;
  font-family: Lato, sans-serif;
  color: rgb(118, 124, 126);
  line-height: 1.7;
}

.form__item {
  margin-top: 25px;
}

.input {
  padding: 10px;
  border-radius: 25px;
  border: none;
  font-size: 14px;
  font-family: Lato, sans-serif;
  color: rgb(159, 170, 173);
  font-style: italic;
  line-height: 1.714;
  max-height: 40px;
  width: 100%;
}

.question_query {
  padding: 10px;
  border-radius: 10px;
  border: none;
  font-size: 14px;
  font-family: Lato, sans-serif;
  color: rgb(159, 170, 173);
  font-style: italic;
  line-height: 1.714;
  height: 80px;
  width: 100%;
}

.credentials__title {
  font-size: 16px;
  font-family: Lato, sans-serif;
  color: rgb(232, 76, 61);
  line-height: 1.5;
  font-weight: bold;
}

.footer {
  background-color: var(--gray);
  padding-top: 60px;
  padding-bottom: 60px;
}

.information {
  display: flex;
  justify-content: space-between;
}

.navigation {
  font-family: Lato, sans-serif;
  color: rgb(231, 231, 231);
}

.navigation__link {
  text-decoration: none;
  color: white;
  font-family: FjallaOne, sans-serif;
  font-size: 13px;
  padding: 0 22px;
  line-height: 1.2;
}

.navigation__link:first-child {
  padding-left: 0;
}

.designer__text {
  font-size: 14px;
  font-family: Lato, sans-serif;
  text-decoration: none;
  line-height: 1.714;
}

.designer__text_special {
  color: var(--firstFocus);
}

.designer__text_default {
  color: rgb(231, 231, 231);
}

.social {
  display: flex;
}

.social__icon {
  margin-left: 10px;
}

.social__icon:first-child {
  margin-left: 0;
}

@media (max-width: 800px) {
  .header,
  .hero,
  .features,
  .news,
  .subscription,
  .contact,
  .footer {
    padding: 0 8px;
  }

  .header__items {
    flex-direction: column;
    align-items: center;
  }

  .menu {
    flex: 1;
  }

  .menu__link {
    padding: 0 10px;
  }

  .features__list {
    flex-direction: column;
  }

  .card {
    padding: 30px 0;
    flex-direction: column;
    align-items: center;
  }

  .news,
  .news__list {
    flex-direction: column;
    align-items: center;
  }

  .article {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .article__button {
    margin: 10px 0;
  }

  .card__image {
    margin-bottom: 20px;
  }

  .card__text,
  .text-header,
  .news__title {
    text-align: center;
  }

  .label {
    flex-direction: column;
  }

  .card {
    padding: 10px;
  }

  .subscribe-form {
    width: 100%;
  }

  .contact {
    flex-direction: column;
  }

  .contact__list {
    padding-right: 0;
    padding-bottom: 30px;
  }

  .information {
    flex-direction: column;
    align-items: center;
  }

  .footer {
    padding: 30px 0;
  }

  .navigation,
  .designer {
    padding: 0 19%;
    margin-bottom: 10px;
  }

  .navigation__link {
    padding: 2px;
  }

  .social {
    margin-top: 20px;
  }
}
